body{
    font-size:16px;
}

header h1{
    font-size:26px;
    text-align:center;
    margin: 30px 0 30px 0;
}

.content-container{
    width:400px;
    display:block;
    margin:0 auto;
    text-align:center;
}

#map{
    width: 100%;
    height: 300px;
}

#search{
    margin-bottom:10px;
}

#keyword{
    padding:5px;
    font-size:14px;
    border:1px solid #ccc;
    width:320px;
    display:inline-block;
}

.button{
    display:inline-block;
    width:60px;
    padding:5px;
    border:0;
    background-color:#4C4C4C;
    cursor:pointer;
    color:#FFFFFF;
}

#landmarks{
    margin-top:10px;
    text-align:left;
    height:200px;
    overflow-y:scroll;
}

#landmarks h1{
    font-size:24px;
    margin-bottom:10px;
}
#landmarks p{
    margin-bottom:5px;
}